{% extends 'panel/layout/layout.html' %}
{% load static i18n %}
{% block head %}
{% endblock %}

{% block body %}
    {#    {% if user|has_role:"admin_temp" %}#}
    {% include 'panel/inc/sidebar.html' %}
    {#    {% endif %}#}
    <!-- BEGIN: Content-->

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <h1 class="text-center">{% trans 'Kategoriya' %}</h1>
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="heading-elements">
                                <ul class="list-inline mb-0 main-list-heading">
                                    <li class="main-search">
                                        {% comment %} {% if request.GET.q %}
                                            <fieldset class="position-relative">
                                                <form action="" method="GET">
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="{{ request.GET.q }}"/>
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="rad"/>
                                                    <div class="form-control-position">
                                                        <a href="{% url 'navigation' %}"><i
                                                                class="bx bx-x font-medium-2"></i></a>
                                                    </div>
                                                </form>
                                            </fieldset>
                                        {% else %}
                                            <fieldset class="has-icon-left">
                                                <form action="" method="GET">
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="{{ request.GET.q }}"/>
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="rad0"/>
                                                    <div class="form-control-position">
                                                        <i class="bx bx-search font-medium-2"></i>
                                                    </div>
                                                </form>

                                            </fieldset>
                                        {% endif %}{% endcomment %}
                                    </li>
                                    <li class="add-new-button"><a class="btn btn-primary"
                                                                  href="{% url 'panel:kategoriya_create' %}"><i
                                            class="bx bxs-plus-square mr-1"></i>{% trans 'Yaratish' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- table Transactions start -->
                <section id="table-transactions">
                    <div class="card">
                        <!-- datatable start -->
                        <div class="table-responsive">
                            <table id="table-extended-transactions" class="table mb-0">
                                <thead>
                                <tr>
                                    <th class="pr-2">№</th>
                                    <th class="pl-0">{% trans 'Kategoriya' %}</th>
                                    <th class="pl-0">{% trans 'Muammo nomi' %}</th>
                                    <th class="text-right">{% trans 'Amallar' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kategoriya in kategoriya_list %}
                                    <tr>
                                        <td class="pr-2">{{ forloop.counter }}</td>
                                        <td class="pl-0">
                                            <a href="{% url 'panel:kategoriya_update' kategoriya.id %}">{{ kategoriya.category|safe | truncatechars:"150" }}</a>
                                        </td>
                                          <td class="pl-0">
                                            {{ kategoriya.title }}
                                        </td>
                                        <td class="text-right amallar">
                                             <a class="mr-2" href="{% url 'panel:kategoriya_update' kategoriya.id %}"><i class="fa fa-edit" style="font-size: 19px;" aria-hidden="true"></i></a>
                                            <a href="{% url 'panel:kategoriya_delete' kategoriya.id %}"><i class="fa fa-trash" style="font-size: 19px;" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- datatable ends -->
                    </div>
                </section>
                <!-- table Transactions end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
{% endblock %}

{% block js %}
{% endblock %}