{% extends 'panel/layout/layout.html' %}
{% load static i18n %}

{% block head %}
{% endblock %}

{% block body %}
    {#    {% if user|has_role:"admin_temp" %}#}
    {% include 'panel/inc/sidebar.html' %}
    {#    {% endif %}#}
    <!-- BEGIN: Content-->

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <h1 class="text-center">{% trans "Murojatlar Qidiruv" %}</h1>
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="heading-elements">
                                <ul class="list-inline mb-0 main-list-heading">
                                    <li class="main-searchh">
                                        {% comment %} {% if request.GET.q %}
                                            <fieldset class="position-relative">
                                                <form action="" method="GET">
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="{{ request.GET.q }}"/>
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="rad"/>
                                                    <div class="form-control-position">
                                                        <a href="{% url 'navigation' %}"><i
                                                                class="bx bx-x font-medium-2"></i></a>
                                                    </div>
                                                </form>
                                            </fieldset>
                                        {% else %}
                                            <fieldset class="has-icon-left">
                                                <form action="" method="GET">
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="{{ request.GET.q }}"/>
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="rad0"/>
                                                    <div class="form-control-position">
                                                        <i class="bx bx-search font-medium-2"></i>
                                                    </div>
                                                </form>

                                            </fieldset>
                                        {% endif %}{% endcomment %}
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- table Transactions start -->
                <a style="float: right;margin-bottom: 15px;" href="{% url 'panel:murojatchi' %}">
                    <button class="btn btn-info"><i class="fa fa-angle-double-left"
                                                    style="padding-right: 3px;font-size: 20px;"
                                                    aria-hidden="true"></i> {% trans 'Orqaga' %}</button>
                </a>
                <br><br>
                <hr>
                <p class="font-weight-bold">{% trans 'Murojatlar Soni:' %} {{ murojatchi_list.count }}</p>

                <section id="table-transactions">
                    <div class="card">
                        <!-- datatable start -->
                        <div class="table-responsive">
                            <table id="table-extended-transactions" class="table mb-0">
                                <thead>
                                <tr>
                                    <th class="pr-2">№</th>
                                    <th class="pl-0">{% trans 'Murojatchi' %}</th>
                                    <th class="pl-2">{% trans 'Hudud' %}</th>
                                    <th class="pl-2">{% trans 'Mahalla' %}</th>
                                    <th class="pl-2">{% trans 'Muammo' %}</th>
                                    <th class="pl-2">{% trans 'Murojat Vaqti' %}</th>
                                    <th class="pl-2">{% trans 'Status' %}</th>
                                    <th class="pl-2">{% trans 'Amallar' %}</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for murojatchi in object_list %}
                                    <tr>
                                        <td class="pr-2">{{ forloop.counter }}</td>
                                        <td class="pl-0">
                                            <a href="{% url 'panel:murojatchi_reply' murojatchi.id %}">{{ murojatchi.fullname|safe | truncatechars:"150" }}</a>
                                        </td>
                                        <td class="text-left">{{ murojatchi.hudud }}</td>
                                        <td class="text-left">{{ murojatchi.mahalla }}</td>
                                        <td class="text-left">{{ murojatchi.muammo }}</td>


                                        <td class="text-left">{{ murojatchi.created | date:"d.m.Y" }}</td>
                                        <td class="text-left">{{ murojatchi.status }}</td>


                                        <td class="text-center amallar">
                                            <a class="mr-1" href="{% url 'panel:murojatchi_detail' murojatchi.id %}"><i
                                                    class="fa fa-eye" style="font-size: 19px;"
                                                    aria-hidden="true"></i></a>
                                            <a href="{% url 'panel:murojatchi_reply' murojatchi.id %}"><i
                                                    class="fa fa-edit" style="font-size: 19px;" aria-hidden="true"></i></a>


                                            {#                                            <div class="dropdown">#}
                                            {#                                                <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer"#}
                                            {#                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"#}
                                            {#                                                      role="menu"></span>#}
                                            {#                                                <div class="dropdown-menu dropdown-menu-right">#}
                                            {#                                                    <a class="dropdown-item"#}
                                            {#                                                       href="{% url 'panel:murojatchi_update' murojatchi.id %}"><i#}
                                            {#                                                            class="bx bx-edit-alt mr-1"></i>{% trans "O'zgartirish" %}</a>#}
                                            {##}
                                            {#                                                    <a class="dropdown-item" data-id="{{ murojatchi.id }}"#}
                                            {#                                                       href="{% url 'panel:murojatchi_delete' murojatchi.id %}"><i#}
                                            {#                                                            class="bx bx-trash mr-1"></i>#}
                                            {#                                                        {% trans "O'chirish" %}</a>#}
                                            {#                                                </div>#}

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- datatable ends -->
                    </div>

                </section>

                <!-- table Transactions end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
{% endblock %}

{% block js %}
{% endblock %}