{% extends 'panel/layout/layout.html' %}
{% load static i18n %}

{% block head %}
{% endblock %}

{% block body %}
    {#    {% if user|has_role:"admin_temp" %}#}
    {% include 'panel/inc/sidebar.html' %}
    {#    {% endif %}#}
    <!-- BEGIN: Content-->

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <h1 class="text-center">{% trans "Murojatlar Ro'yxati" %}</h1>
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="heading-elements">
                                <ul class="list-inline mb-0 main-list-heading">
                                    <li class="main-searchh">
                                        {% comment %} {% if request.GET.q %}
                                            <fieldset class="position-relative">
                                                <form action="" method="GET">
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="{{ request.GET.q }}"/>
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="rad"/>
                                                    <div class="form-control-position">
                                                        <a href="{% url 'navigation' %}"><i
                                                                class="bx bx-x font-medium-2"></i></a>
                                                    </div>
                                                </form>
                                            </fieldset>
                                        {% else %}
                                            <fieldset class="has-icon-left">
                                                <form action="" method="GET">
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="{{ request.GET.q }}"/>
                                                    <input type="text" name="q" class="form-control single-daterange" placeholder="{% trans 'Izlash' %}" value="rad0"/>
                                                    <div class="form-control-position">
                                                        <i class="bx bx-search font-medium-2"></i>
                                                    </div>
                                                </form>

                                            </fieldset>
                                        {% endif %}{% endcomment %}
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- table Transactions start -->
            <h3>Qidiruv</h3>
             <section id="table-transactions">
                    <div class="card">
                        <!-- datatable start -->
                        <form method="get" action="{% url 'panel:foydalanuvchi_search' %}" autocomplete="off">
                            {% csrf_token %}
                        <div class="table-responsive">
                            <table id="table-extended-transactions" class="table mb-0">
                                <thead>
                                <tr>

                                    <th class="pl-1">{% trans 'telegram ID' %}</th>
                                    <th class="pl-0">{% trans 'Foydalanuvchi' %}</th>
                                    <th class="pl-0">{% trans 'Username' %}</th>

                                    <th class="pr-0"></th>

                                </tr>
                                </thead>
                                <tbody>

                                    <tr>

                                        <td class="pl-1">
                                            <input type="number" name="telegram_id" style="width: 150px;" class="form-control" placeholder="ID">
                                        </td>
                                        <td class="pl-0">
                                            <input type="text" name="fullname" style="width: 150px;" class="form-control" placeholder="Foydalanuvchi">
                                        </td>

                                        <td class="text-left">
                                             <input type="text" name="username" style="width: 150px;margin-left: -35px;" class="form-control" placeholder="Username">
                                        </td>

                                        <td class="text-right"><button class="btn btn-outline-info" type="submit">{% trans 'Qidirish' %}</button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                            </form>
                        <!-- datatable ends -->
                    </div>
                </section>
                <hr>
              <p class="font-weight-bold">{% trans 'Barcha Foydalanuvchilar Soni:' %} {{ foydalanuvchi_list.count }}</p>

                <section id="table-transactions">
                    <div class="card">
                        <!-- datatable start -->
                        <div class="table-responsive">
                            <table id="table-extended-transactions" class="table mb-0">
                                <thead>
                                <tr>
                                    <th class="pr-2">№</th>
                                    <th class="pl-0">{% trans 'Telegram ID' %}</th>
                                    <th class="pl-2">{% trans 'Foydalanuvchi' %}</th>
                                    <th class="pl-2">{% trans 'Username' %}</th>
                                    <th class="pl-2">{% trans 'Sana' %}</th>
                                    <th class="pr-0">{% trans 'Amallar' %}</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for murojatchi in foydalanuvchi_list %}
                                    <tr>
                                        <td class="pr-2">{{ forloop.counter }}</td>
                                        <td class="pl-0">
                                            <a href="{% url 'panel:murojatchi_update' murojatchi.id %}">{{ murojatchi.telegram_id|safe | truncatechars:"150" }}</a>
                                        </td>
                                         <td class="text-left">{{ murojatchi.fullname }}</td>
                                        <td class="text-left">{{ murojatchi.username }}</td>
                                        <td class="text-left">{{ murojatchi.created | date:"d.m.Y" }}</td>
                                        <td class="text-left amallar">
                                            <a class="mr-2" href="{% url 'panel:murojatchi_update' murojatchi.id %}"><i class="fa fa-eye" style="font-size: 19px;" aria-hidden="true"></i></a>
                                            <a href="{% url 'panel:murojatchi_delete' murojatchi.id %}"><i class="fa fa-trash" style="font-size: 19px;" aria-hidden="true"></i></a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- datatable ends -->
                    </div>

                </section>

                <!-- table Transactions end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
{% endblock %}

{% block js %}
{% endblock %}