{% load static i18n %}
{#{% load permission_tags %}#}

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"
            data-icon-style="lines">

            <li class="navigation-header"><span class="h4 text-capitalize text-dark">{% trans "Ma'muriyat" %}</span></li>

            <li class="nav-item news {% if 'murojatchi' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:murojatchi' %}">
                         <span class="menu-item"><i class="fa fa-list mr-1" aria-hidden="true"></i>
                             {% trans 'Barcha Murojatlar' %}</span></a>
            </li>


            <li class="nav-item news {% if 'foydalanuvchi' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:foydalanuvchi' %}">
                         <span class="menu-item"><i class="fa fa-users mr-1" aria-hidden="true"></i>
                            {% trans "Murojatchilar" %}</span></a>
            </li>
         <li class="nav-item news {% if 'accepted' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:accepted' %}">
                         <span class="menu-item"><i class="fa fa-envelope mr-1" aria-hidden="true"></i>
                            {% trans "Hokimga Qabul" %}</span></a>
            </li>



            <li class="nav-item news {% if 'qabul' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:qabul' %}">
                         <span class="menu-item"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            {% trans "Qabullar" %}</span></a>
            </li>
            <li class="nav-item news {% if 'statistics' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:statistics' %}">
                         <span class="menu-item"><i class="fa fa-bar-chart mr-1" aria-hidden="true"></i>
                             {% trans 'Statistika' %}</span></a>
            </li>

            <li class="nav-item news">
                <a href="#"><i class="fa fa-share"></i>
                    <span class="menu-title">{% trans "Qo'shimcha sahifalar" %}</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="{% url 'panel:hudud' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">{% trans "Hududlar" %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'panel:mahalla' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">{% trans "Mahallalar" %}</span></a>
                    </li>
                     <li>
                        <a href="{% url 'panel:muammo' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">{% trans "Muammolar" %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'panel:kategoriya' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">{% trans "Kategoriyalar" %}</span></a>
                    </li>


                </ul>
            </li>


        </ul>
    </div>
</div>

<!-- END: Main Menu-->