{% load static i18n %}
{#{% load permission_tags %}#}

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="{% url 'panel:main_page' %}">
                    {#                <a class="navbar-brand" href="{% url 'index-admin_temp' %}">#}
                    <div class="brand-logo">
                        <img class="logo" style="width: 130px; height: 60px;"
                             src="{% static 'panel/login/images/Group.svg' %}"/>
                    </div>
                </a></li>
        </ul>
    </div>

    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"
            data-icon-style="lines">

            <li class="navigation-header"><span>{% trans "Ma'muriyat" %}</span></li>


            <li class="nav-item news {% if 'murojatchi' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:murojatchi' %}">
                         <span class="menu-item"><i class="fa fa-list mr-1" aria-hidden="true"></i>
                             Barcha Murojatlar</span></a>
            </li>


            <li class="nav-item news {% if 'foydalanuvchi' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:foydalanuvchi' %}">
                         <span class="menu-item"><i class="fa fa-users mr-1" aria-hidden="true"></i>
                            Murojatchilar</span></a>
            </li>



            <li class="nav-item news {% if 'qabul' in request.path %}aaa{% endif %}">
                <a href="{% url 'panel:qabul' %}">
                         <span class="menu-item"><i class="fa fa-envelope mr-1" aria-hidden="true"></i>
                            Ommaviy Qabul</span></a>
            </li>


            <li class="nav-item news">
                <a href="#"><i class="fa fa-share"></i>
                    <span class="menu-title">Qo'shimcha sahifalar</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="{% url 'panel:hudud' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">Hududlar</span></a>
                    </li>
                    <li>
                        <a href="{% url 'panel:mahalla' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">Mahallalar</span></a>
                    </li>
                     <li>
                        <a href="{% url 'panel:muammo' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">Muammolar</span></a>
                    </li>
                    <li>
                        <a href="{% url 'panel:kategoriya' %}">
                            <i class="fa fa-circle-o"></i><span
                                class="menu-item">Kategoriyalar</span></a>
                    </li>


                </ul>
            </li>


        </ul>
    </div>
</div>

<!-- END: Main Menu-->